.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-card {
  display: flex;
  flex-direction: column;
}

.card-button-container {
  display: flex;
}
